# Yahoo Finance  e Python : parte 1

In questo Notebook illustrerò le funzioni messe a disposizione dalle due principali librerie python che forniscono accesso ai dati di Yahoo Finance.

Lavorerò con un singolo 'ticker' rimandando alla parte 2 l'illustrazione dell'analisi relativa a più 'tickers' in cui mostrerò come effettuare il download di dati più complessi e articolati(dati storici di più azioni, FX, tassi, indici, ETF..)

Principali riferimenti:

Per primo il sito del nostro data provider cioè  Yahoo dove potete rendervi conto di quali dati sono disponibili:

  *   [yahoo finance](https://finance.yahoo.com/world-indices)

quindi i link delle 2 librerie che andremo ad  utilizzate negli esempi seguenti:
  
1.  [Yahoo Finance Python Library: yfinance -](https://pypi.org/project/yfinance/)

2.   [Yahoo Finance Python Library: YahooFinancials](https://pypi.org/project/yahoofinancials/)


Entrambe le librerie, seppure non sono da considerare una scelta adatta per usi professionali, sono semplici da interpretare e facili da utilizzare e dando accesso ad una buona quantità e varietà di dati, possono essere sicuramente usate per sviluppare modelli e algoritmi 

Se si si hanno in mente obiettivi più "seri", cioè si vogliono mettere in produzione algoritmi di supporto al trading o supportare decisioni di investimento importanti e si ha a disposizione una postazione Bloomberg meglio utilizzare Bquant, ma questa è un'altra storia.... 


Il presente notebook puo essere eseguito in [Google Colab](https://colab.research.google.com/) o in locale installando le librerie [yfinance](https://pypi.org/project/yfinance/) e [YahooFinancials](https://pypi.org/project/yahoofinancials/)

In [ ]:
!pip install yfinance
!pip install yahoofinancials

In [ ]:
import pandas as pd
import numpy as np
import datetime
import yfinance as yf
from yahoofinancials import YahooFinancials

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.colheader_justify', 'center')
pd.set_option('display.precision', 3)
pd.options.display.float_format = '{:,.2f}'.format

In [ ]:
#Scegliamo come esempio il ticker di Amazon
TickerName = "AMZN"

In [ ]:
"""
Download delle informazioni principali 
i dati sono restituiti in una variabile di tipo Dictionary
"""
Stock = yf.Ticker(TickerName)
StockInfo = Stock.info
type(StockInfo)

dict

In [ ]:
StockIsin = Stock.isin
StockIsin

'-'

In [ ]:
"""
Download dei dati storici usando data inizio e fine
frequenza giornaliera, data inizio e fine possono essere fornite in input anche nel formato di stringhe
"""

tipoinput = 0

if tipoinput == 0 :
  start = datetime.datetime(2022,2,1)
  end = datetime.datetime(2022,11,11)
else:
  start = '2022-2-1'
  end = '2022-11-11'

StockHist = Stock.history(start= start, end= end)
type(StockHist)
StockHist['Volume'] = StockHist.apply(lambda x: "{:,.0f}".format(x['Volume']), axis=1)
StockHist.head()

                           Open   High    Low   Close    Volume     Dividends  Stock Splits
Date
2022-02-01 00:00:00-05:00 150.00 151.71 147.63 151.19   59,220,000      0          0.00
2022-02-02 00:00:00-05:00 155.05 155.07 148.86 150.61   87,330,000      0          0.00
2022-02-03 00:00:00-05:00 141.74 144.25 138.33 138.85  225,532,000      0          0.00
2022-02-04 00:00:00-05:00 155.61 161.20 150.61 157.64  253,456,000      0          0.00
2022-02-07 00:00:00-05:00 158.52 162.69 157.25 157.94  102,624,000      0          0.00

In [ ]:
"""
 Download dei dati storici usando period (definisce la lunghezza dell'intervallo di tempo) e frequenza giornaliera
"""
StockHist = Stock.history(period='1y')
type(StockHist)
StockHist['Volume'] = StockHist.apply(lambda x: "{:,.0f}".format(x['Volume']), axis=1)
StockHist.head()

                           Open   High    Low   Close    Volume    Dividends  Stock Splits
Date
2021-11-19 00:00:00-05:00 185.63 188.11 183.79 183.83  98,734,000      0          0.00
2021-11-22 00:00:00-05:00 183.82 185.67 178.38 178.63  96,844,000      0          0.00
2021-11-23 00:00:00-05:00 179.25 181.05 176.39 179.00  73,804,000      0          0.00
2021-11-24 00:00:00-05:00 178.13 180.68 176.84 179.02  46,560,000      0          0.00
2021-11-26 00:00:00-05:00 180.10 181.68 175.21 175.23  59,826,000      0          0.00

# Analisi delle principali informazioni ed eventi

In [ ]:
StockActions =Stock.actions
StockActions

                           Dividends  Stock Splits
Date
2022-06-06 00:00:00-04:00    0.00        20.00

In [ ]:
StockDividends= Stock.dividends
StockDividends

Series([], Name: Dividends, dtype: int64)

# Dati di Bilancio e Finanziari

In [ ]:
#Dati di Bilancio
Stock.balance_sheet

                                                 2021-12-31         2020-12-31         2019-12-31         2018-12-31
Intangible Assets                              5,107,000,000.00   4,981,000,000.00   4,049,000,000.00   4,110,000,000.00
Capital Surplus                               55,538,000,000.00  42,865,000,000.00  33,658,000,000.00  26,791,000,000.00
Total Liab                                   282,304,000,000.00 227,791,000,000.00 163,188,000,000.00 119,099,000,000.00
Total Stockholder Equity                     138,245,000,000.00  93,404,000,000.00  62,060,000,000.00  43,549,000,000.00
Other Current Liab                            18,027,000,000.00  15,267,000,000.00  12,202,000,000.00   9,959,000,000.00
Total Assets                                 420,549,000,000.00 321,195,000,000.00 225,248,000,000.00 162,648,000,000.00
Common Stock                                       5,000,000.00       5,000,000.00       5,000,000.00       5,000,000.00
Other Current Assets                             242,000,000.00     233,000,000.00     276,000,000.00     418,000,000.00
Retained Earnings                             85,915,000,000.00  52,551,000,000.00  31,220,000,000.00  19,625,000,000.00
Other Liab                                    17,443,000,000.00  13,617,000,000.00  12,171,000,000.00  17,563,000,000.00
Good Will                                     15,371,000,000.00  15,017,000,000.00  14,754,000,000.00  14,548,000,000.00
Gains Losses Not Affecting Retained Earnings  -3,213,000,000.00  -2,017,000,000.00  -2,823,000,000.00  -2,872,000,000.00
Other Assets                                  18,125,000,000.00  12,097,000,000.00  10,096,000,000.00   6,370,000,000.00
Cash                                          36,220,000,000.00  42,122,000,000.00  36,092,000,000.00  31,750,000,000.00
Total Current Liabilities                    142,266,000,000.00 126,385,000,000.00  87,812,000,000.00  68,391,000,000.00
Short Long Term Debt                           1,687,000,000.00   1,266,000,000.00   1,305,000,000.00   1,371,000,000.00
Other Stockholder Equity                      -1,376,000,000.00    -180,000,000.00    -986,000,000.00  -1,035,000,000.00
Property Plant Equipment                     216,363,000,000.00 150,667,000,000.00  97,846,000,000.00  61,797,000,000.00
Total Current Assets                         161,580,000,000.00 132,733,000,000.00  96,334,000,000.00  75,101,000,000.00
Long Term Investments                          4,003,000,000.00   5,700,000,000.00   2,169,000,000.00     722,000,000.00
Net Tangible Assets                          117,767,000,000.00  73,406,000,000.00  43,257,000,000.00  24,891,000,000.00
Short Term Investments                        59,829,000,000.00  42,274,000,000.00  18,929,000,000.00   9,500,000,000.00
Net Receivables                               32,649,000,000.00  24,309,000,000.00  20,540,000,000.00  16,259,000,000.00
Long Term Debt                                54,944,000,000.00  35,216,000,000.00  23,414,000,000.00  23,495,000,000.00
Inventory                                     32,640,000,000.00  23,795,000,000.00  20,497,000,000.00  17,174,000,000.00
Accounts Payable                              78,664,000,000.00  72,539,000,000.00  47,183,000,000.00  38,192,000,000.00

In [ ]:
Stock.quarterly_balance_sheet

                                                 2022-09-30         2022-06-30         2022-03-31         2021-12-31
Capital Surplus                               69,419,000,000.00  63,871,000,000.00  58,793,000,000.00  55,538,000,000.00
Total Liab                                   290,873,000,000.00 288,326,000,000.00 276,766,000,000.00 282,304,000,000.00
Total Stockholder Equity                     137,489,000,000.00 131,402,000,000.00 134,001,000,000.00 138,245,000,000.00
Other Current Liab                            12,629,000,000.00  12,818,000,000.00  12,820,000,000.00  18,027,000,000.00
Total Assets                                 428,362,000,000.00 419,728,000,000.00 410,767,000,000.00 420,549,000,000.00
Common Stock                                     107,000,000.00     107,000,000.00       5,000,000.00       5,000,000.00
Other Current Assets                             224,000,000.00     207,000,000.00     191,000,000.00     242,000,000.00
Retained Earnings                             82,915,000,000.00  80,043,000,000.00  82,071,000,000.00  85,915,000,000.00
Other Liab                                    15,559,000,000.00  16,658,000,000.00  17,171,000,000.00  17,443,000,000.00
Good Will                                     20,168,000,000.00  20,195,000,000.00  20,229,000,000.00  15,371,000,000.00
Gains Losses Not Affecting Retained Earnings -14,952,000,000.00 -12,619,000,000.00  -6,868,000,000.00  -3,213,000,000.00
Other Assets                                  34,172,000,000.00  30,562,000,000.00  28,076,000,000.00  18,125,000,000.00
Cash                                          34,947,000,000.00  37,478,000,000.00  36,393,000,000.00  36,220,000,000.00
Total Current Liabilities                    140,363,000,000.00 140,291,000,000.00 139,508,000,000.00 142,266,000,000.00
Short Long Term Debt                           4,501,000,000.00   5,249,000,000.00   2,898,000,000.00   1,687,000,000.00
Other Stockholder Equity                      -7,115,000,000.00  -4,782,000,000.00  -2,365,000,000.00  -1,376,000,000.00
Property Plant Equipment                     239,228,000,000.00 232,136,000,000.00 224,629,000,000.00 216,363,000,000.00
Total Current Assets                         131,463,000,000.00 133,667,000,000.00 133,876,000,000.00 161,580,000,000.00
Long Term Investments                          3,331,000,000.00   3,168,000,000.00   3,957,000,000.00   4,003,000,000.00
Net Tangible Assets                          117,321,000,000.00 111,207,000,000.00 113,772,000,000.00 117,767,000,000.00
Short Term Investments                        23,715,000,000.00  23,232,000,000.00  29,992,000,000.00  59,829,000,000.00
Net Receivables                               35,930,000,000.00  34,597,000,000.00  32,313,000,000.00  32,649,000,000.00
Long Term Debt                                65,619,000,000.00  64,853,000,000.00  54,356,000,000.00  54,944,000,000.00
Inventory                                     36,647,000,000.00  38,153,000,000.00  34,987,000,000.00  32,640,000,000.00
Accounts Payable                              67,760,000,000.00  71,219,000,000.00  68,547,000,000.00  78,664,000,000.00
Intangible Assets                                           NaN                NaN                NaN   5,107,000,000.00

In [ ]:
#Dati Finanziari
Stock.financials

                                           2021-12-31         2020-12-31         2019-12-31         2018-12-31
Research Development                    56,052,000,000.00  42,740,000,000.00  35,931,000,000.00  28,837,000,000.00
Effect Of Accounting Charges                         None               None               None               None
Income Before Tax                       38,155,000,000.00  24,194,000,000.00  13,962,000,000.00  11,270,000,000.00
Minority Interest                                    None               None               None               None
Net Income                              33,364,000,000.00  21,331,000,000.00  11,588,000,000.00  10,073,000,000.00
Selling General Administrative         116,485,000,000.00  87,193,000,000.00  64,313,000,000.00  52,177,000,000.00
Gross Profit                           197,478,000,000.00 152,757,000,000.00 114,986,000,000.00  93,731,000,000.00
Ebit                                    24,879,000,000.00  22,899,000,000.00  14,541,000,000.00  12,421,000,000.00
Operating Income                        24,879,000,000.00  22,899,000,000.00  14,541,000,000.00  12,421,000,000.00
Other Operating Expenses                    62,000,000.00     -75,000,000.00     201,000,000.00     296,000,000.00
Interest Expense                        -1,809,000,000.00  -1,647,000,000.00  -1,600,000,000.00  -1,417,000,000.00
Extraordinary Items                                  None               None               None               None
Non Recurring                                        None               None               None               None
Other Items                                          None               None               None               None
Income Tax Expense                       4,791,000,000.00   2,863,000,000.00   2,374,000,000.00   1,197,000,000.00
Total Revenue                          469,822,000,000.00 386,064,000,000.00 280,522,000,000.00 232,887,000,000.00
Total Operating Expenses               444,943,000,000.00 363,165,000,000.00 265,981,000,000.00 220,466,000,000.00
Cost Of Revenue                        272,344,000,000.00 233,307,000,000.00 165,536,000,000.00 139,156,000,000.00
Total Other Income Expense Net          13,276,000,000.00   1,295,000,000.00    -579,000,000.00  -1,151,000,000.00
Discontinued Operations                              None               None               None               None
Net Income From Continuing Ops          33,364,000,000.00  21,331,000,000.00  11,588,000,000.00  10,073,000,000.00
Net Income Applicable To Common Shares  33,364,000,000.00  21,331,000,000.00  11,588,000,000.00  10,073,000,000.00

In [ ]:
Stock.quarterly_financials

                                           2022-09-30         2022-06-30         2022-03-31         2021-12-31
Research Development                    16,787,000,000.00  15,468,000,000.00  12,270,000,000.00  21,577,000,000.00
Effect Of Accounting Charges                         None               None               None               None
Income Before Tax                        2,941,000,000.00  -2,665,000,000.00  -5,266,000,000.00  14,935,000,000.00
Minority Interest                                    None               None               None               None
Net Income                               2,872,000,000.00  -2,028,000,000.00  -3,844,000,000.00  14,323,000,000.00
Selling General Administrative          37,356,000,000.00  35,935,000,000.00  33,757,000,000.00  29,516,000,000.00
Gross Profit                            56,833,000,000.00  54,810,000,000.00  49,945,000,000.00  54,577,000,000.00
Ebit                                     2,525,000,000.00   3,317,000,000.00   3,669,000,000.00   3,460,000,000.00
Operating Income                         2,525,000,000.00   3,317,000,000.00   3,669,000,000.00   3,460,000,000.00
Other Operating Expenses                   165,000,000.00      90,000,000.00     249,000,000.00      24,000,000.00
Interest Expense                          -617,000,000.00    -584,000,000.00    -472,000,000.00    -482,000,000.00
Extraordinary Items                                  None               None               None               None
Non Recurring                                        None               None               None               None
Other Items                                          None               None               None               None
Income Tax Expense                          69,000,000.00    -637,000,000.00  -1,422,000,000.00     612,000,000.00
Total Revenue                          127,101,000,000.00 121,234,000,000.00 116,444,000,000.00 137,412,000,000.00
Total Operating Expenses               124,576,000,000.00 117,917,000,000.00 112,775,000,000.00 133,952,000,000.00
Cost Of Revenue                         70,268,000,000.00  66,424,000,000.00  66,499,000,000.00  82,835,000,000.00
Total Other Income Expense Net             416,000,000.00  -5,982,000,000.00  -8,935,000,000.00  11,475,000,000.00
Discontinued Operations                              None               None               None               None
Net Income From Continuing Ops           2,872,000,000.00  -2,028,000,000.00  -3,844,000,000.00  14,323,000,000.00
Net Income Applicable To Common Shares   2,872,000,000.00  -2,028,000,000.00  -3,844,000,000.00  14,323,000,000.00

In [ ]:
Stock.cashflow

                                              2021-12-31         2020-12-31         2019-12-31         2018-12-31
Investments                                  -773,000,000.00 -22,242,000,000.00  -9,131,000,000.00   1,140,000,000.00
Change To Liabilities                       5,916,000,000.00  18,745,000,000.00   9,904,000,000.00   4,414,000,000.00
Total Cashflows From Investing Activities -58,154,000,000.00 -59,611,000,000.00 -24,281,000,000.00 -12,369,000,000.00
Net Borrowings                              6,291,000,000.00  -1,104,000,000.00 -10,066,000,000.00  -7,686,000,000.00
Total Cash From Financing Activities        6,291,000,000.00  -1,104,000,000.00 -10,066,000,000.00  -7,686,000,000.00
Change To Operating Activities              2,123,000,000.00   5,754,000,000.00  -1,383,000,000.00     472,000,000.00
Net Income                                 33,364,000,000.00  21,331,000,000.00  11,588,000,000.00  10,073,000,000.00
Change In Cash                             -5,900,000,000.00   5,967,000,000.00   4,237,000,000.00  10,317,000,000.00
Effect Of Exchange Rate                      -364,000,000.00     618,000,000.00      70,000,000.00    -351,000,000.00
Total Cash From Operating Activities       46,327,000,000.00  66,064,000,000.00  38,514,000,000.00  30,723,000,000.00
Depreciation                               34,296,000,000.00  25,251,000,000.00  21,789,000,000.00  15,341,000,000.00
Change To Inventory                        -9,487,000,000.00  -2,849,000,000.00  -3,278,000,000.00  -1,314,000,000.00
Change To Account Receivables             -18,163,000,000.00  -8,169,000,000.00  -7,681,000,000.00  -4,615,000,000.00
Change To Netincome                        -1,722,000,000.00   6,001,000,000.00   7,575,000,000.00   6,352,000,000.00
Capital Expenditures                      -61,053,000,000.00 -40,140,000,000.00 -16,861,000,000.00 -13,427,000,000.00
Other Cashflows From Investing Activities                NaN                NaN                NaN   2,104,000,000.00

In [ ]:
Stock.quarterly_cashflow

                                              2022-09-30         2022-06-30         2022-03-31         2021-12-31
Investments                                   318,000,000.00   2,279,000,000.00  20,989,000,000.00   4,271,000,000.00
Change To Liabilities                      -1,172,000,000.00   4,020,000,000.00  -8,044,000,000.00   8,909,000,000.00
Total Cashflows From Investing Activities -15,608,000,000.00 -12,078,000,000.00     906,000,000.00 -12,580,000,000.00
Net Borrowings                              3,016,000,000.00   7,960,000,000.00   4,656,000,000.00  -3,100,000,000.00
Total Cash From Financing Activities        3,016,000,000.00   4,626,000,000.00   1,990,000,000.00  -3,100,000,000.00
Change To Operating Activities                -20,000,000.00  -1,412,000,000.00  -5,903,000,000.00   9,333,000,000.00
Net Income                                  2,872,000,000.00  -2,028,000,000.00  -3,844,000,000.00  14,323,000,000.00
Change In Cash                             -2,522,000,000.00   1,101,000,000.00     122,000,000.00   6,300,000,000.00
Effect Of Exchange Rate                    -1,334,000,000.00    -412,000,000.00      16,000,000.00    -106,000,000.00
Total Cash From Operating Activities       11,404,000,000.00   8,965,000,000.00  -2,790,000,000.00  22,086,000,000.00
Depreciation                               10,204,000,000.00   9,594,000,000.00   8,978,000,000.00   9,802,000,000.00
Change To Inventory                           732,000,000.00  -3,890,000,000.00  -2,614,000,000.00  -1,915,000,000.00
Change To Account Receivables              -4,794,000,000.00  -6,799,000,000.00  -1,516,000,000.00  -6,556,000,000.00
Change To Netincome                         3,582,000,000.00   9,480,000,000.00  10,153,000,000.00 -11,810,000,000.00
Capital Expenditures                      -16,378,000,000.00 -15,724,000,000.00 -14,951,000,000.00 -18,935,000,000.00
Repurchase Of Stock                                      NaN  -3,334,000,000.00  -2,666,000,000.00  -2,666,000,000.00

In [ ]:
Stock.earnings

         Revenue     Earnings
Year
2018  232887000000  10073000000
2019  280522000000  11588000000
2020  386064000000  21331000000
2021  469822000000  33364000000

In [ ]:
Stock.quarterly_earnings

            Revenue     Earnings
Quarter
4Q2021   137412000000  14323000000
1Q2022   116444000000  -3844000000
2Q2022   121234000000  -2028000000
3Q2022   127101000000   2872000000

In [ ]:
#Principali Azionisti
SH=Stock.major_holders
SH.columns = ["%share", "Descrizione"]
SH

   %share              Descrizione
0   9.84%        % of Shares Held by All Insider
1  60.06%       % of Shares Held by Institutions
2  66.61%        % of Float Held by Institutions
3    5278  Number of Institutions Holding Shares

In [ ]:
#Azionisti Istituzionali
SHI=Stock.institutional_holders
SHI

                Holder                 Shares   Date Reported  % Out     Value
0         Vanguard Group, Inc. (The)  701550877   2022-09-29   0.07   66043999132
1                     Blackrock Inc.  582127081   2022-09-29   0.06   54801443050
2           State Street Corporation  329849003   2022-09-29   0.03   31051984941
3                           FMR, LLC  302056199   2022-09-29   0.03   28435570389
4      Price (T.Rowe) Associates Inc  282601501   2022-09-29   0.03   26604105131
5      Geode Capital Management, LLC  157659175   2022-09-29   0.02   14842034638
6                     Morgan Stanley  120416818   2022-09-29   0.01   11336039173
7  Capital Research Global Investors  105050354   2022-09-29   0.01    9889440261
8          JP Morgan Chase & Company  100509386   2022-09-29   0.01    9461953536
9         Northern Trust Corporation   94521651   2022-09-29   0.01    8898268167

In [ ]:
#Sustainability 
Stock.sustainability

                        Value
2022-8
palmOil                    False
controversialWeapons       False
gambling                   False
socialScore                14.80
nuclear                    False
furLeather                 False
alcoholic                  False
gmo                        False
catholic                   False
socialPercentile            None
peerCount                     54
governanceScore             9.89
environmentPercentile       None
animalTesting              False
tobacco                    False
totalEsg                   30.28
highestControversy             3
esgPerformance          OUT_PERF
coal                       False
pesticides                 False
adult                      False
percentile                 64.44
peerGroup              Retailing
smallArms                  False
environmentScore            5.59
governancePercentile        None
militaryContract           False

In [ ]:
#Raccomandazioni degli analisti
Recmd=Stock.recommendations.sort_index(ascending=False)
Recmd.head(10)

                           Firm          To Grade  From Grade Action
Date
2022-11-15 12:46:44   MoffettNathanson  Outperform             init
2022-11-14 11:58:40         Rosenblatt     Neutral             main
2022-11-02 17:23:28  Tigress Financial         Buy             main
2022-10-28 13:15:20        DA Davidson         Buy             main
2022-10-28 13:12:27     Morgan Stanley  Overweight             main
2022-10-28 13:10:14            Wedbush  Outperform             main
2022-10-28 13:08:06        Cowen & Co.  Outperform             main
2022-10-28 13:05:31        Wells Fargo  Overweight             main
2022-10-28 11:53:01      Deutsche Bank         Buy             main
2022-10-28 11:50:00        RBC Capital  Outperform             main

In [ ]:
#Calendario Principali eventi
Stock.calendar

                          0                    1
Earnings Date     2023-02-01 10:59:00  2023-02-06 12:00:00
Earnings Average                 0.20                 0.20
Earnings Low                    -0.03                -0.03
Earnings High                    0.32                 0.32
Revenue Average          145674000000         145674000000
Revenue Low              140012000000         140012000000
Revenue High             148596000000         148596000000

In [ ]:
Stock.calendar.T

     Earnings Date    Earnings Average Earnings Low Earnings High Revenue Average  Revenue Low   Revenue High
0 2023-02-01 10:59:00       0.20          -0.03          0.32       145674000000   140012000000  148596000000
1 2023-02-06 12:00:00       0.20          -0.03          0.32       145674000000   140012000000  148596000000

In [ ]:
# show all earnings dates
Stock.earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2023-10-25 06:00:00-04:00       NaN           NaN          NaN
2023-07-26 06:00:00-04:00       NaN           NaN          NaN
2023-04-26 06:00:00-04:00       NaN           NaN          NaN
2023-02-01 05:00:00-05:00      0.20           NaN          NaN
2022-10-27 12:00:00-04:00      0.22          0.28         0.30
2022-07-28 12:00:00-04:00      0.14         -0.20        -2.39
2022-04-28 12:00:00-04:00      0.42         -0.38        -1.90
2022-02-03 11:00:00-05:00      0.18          1.39         6.80
2021-10-28 12:00:00-04:00      0.45          0.31        -0.31
2021-07-29 12:00:00-04:00      0.62          0.76         0.23
2021-04-29 12:00:00-04:00      0.48          0.79         0.66
2021-02-02 11:00:00-05:00      0.36          0.71         0.95
2020-10-29 12:00:00-04:00      0.37          0.62         0.67
2020-07-30 12:00:00-04:00      0.07          0.52         6.05
2020-04-30 12:00:00-04:00      6.25          5.01        -0.20
2020-01-30 11:00:00-05:00      4.03          6.47         0.61
2019-10-24 12:00:00-04:00      4.62          4.23        -0.08
2019-07-25 12:00:00-04:00      5.57          5.22        -0.06
2019-04-25 12:00:00-04:00      4.72          7.09         0.50
2019-01-31 11:00:00-05:00      5.68          6.04         0.06
2018-10-25 12:00:00-04:00      3.14          5.75         0.83
2018-07-26 12:00:00-04:00      2.54          5.07         1.00
2018-04-26 12:00:00-04:00      1.26          3.27         1.60
2018-02-01 11:00:00-05:00      1.84          2.16         0.17
2017-10-26 12:00:00-04:00      0.03          0.52        16.33
2017-07-27 12:00:00-04:00      1.42          0.40        -0.72
2017-04-27 12:00:00-04:00      1.09          1.48         0.36
2017-02-02 11:00:00-05:00      1.35          1.54         0.14
2016-10-27 12:00:00-04:00      0.78          0.52        -0.33
2016-07-28 12:00:00-04:00      1.11          1.78         0.61
2016-04-28 12:00:00-04:00      0.58          1.07         0.84
2016-01-28 11:00:00-05:00      1.56          1.00        -0.36
2015-10-22 12:00:00-04:00     -0.14          0.17         2.25
2015-07-23 12:00:00-04:00     -0.14          0.19         2.38
2015-04-23 12:00:00-04:00     -0.12         -0.12         0.02
2015-01-29 11:00:00-05:00      0.17          0.45         1.68
2014-10-23 12:00:00-04:00     -0.73         -0.95        -0.29
2014-07-24 00:00:00-04:00     -0.15         -0.27        -0.85
2014-04-24 00:00:00-04:00      0.23          0.23         0.01
2014-01-30 00:00:00-05:00      0.66          0.51        -0.23
2013-10-24 00:00:00-04:00     -0.09         -0.09        -0.02
2013-07-25 00:00:00-04:00      0.05         -0.02        -1.37
2013-04-25 00:00:00-04:00      0.08          0.18         1.31
2013-01-29 00:00:00-05:00      0.28          0.21        -0.25
2012-10-25 00:00:00-04:00     -0.08         -0.23        -1.91
2012-07-26 00:00:00-04:00      0.02          0.16         5.55
2012-04-26 00:00:00-04:00      0.07          0.28         2.93
2012-01-31 00:00:00-05:00      0.17          0.38         1.27
2011-10-25 00:00:00-04:00      0.24          0.14        -0.43
2011-07-26 00:00:00-04:00      0.35          0.41         0.17
2011-04-26 00:00:00-04:00      0.61          0.44        -0.27
2011-01-27 00:00:00-05:00      0.88          0.91         0.03
2010-10-21 00:00:00-04:00      0.48          0.51         0.07
2010-07-22 00:00:00-04:00      0.54          0.45        -0.16
2010-04-22 00:00:00-04:00      0.61          0.66         0.09
2010-01-28 00:00:00-05:00      0.72          0.85         0.18
2009-10-22 00:00:00-04:00      0.33          0.45         0.35
2009-07-23 00:00:00-04:00      0.31          0.32         0.02
2009-04-23 00:00:00-04:00      0.31          0.41         0.33
2009-01-29 00:00:00-05:00      0.39          0.52         0.33
2008-10-22 00:00:00-04:00      0.25          0.27         0.10
2008-07-23 00:00:00-04:00      0.26          0.37         0.42
2008-04-23 00:00:00-04:00      0.32          0.34         0.05
2008-01-30 00:00:00-05:00      0.48          0.48         0.01
2007-10-23 00:00:00-04:00      0.18          0.19         0.05
2007-07-24 00:00:00-04:00      0.16          0.19         0.20
2007-04-24 00:00:00-04:00      0.15          0.26         0.69
2007-02-01 00:00:00-05:00      0.21          0.23         0.09
2006-10-24 00:00:00-04:00      0.03          0.05         0.51
2006-07-25 00:00:00-04:00      0.06          0.05        -0.23
2006-04-25 00:00:00-04:00      0.12          0.12         0.02
2006-02-02 00:00:00-05:00      0.21          0.47         1.21
2005-10-25 00:00:00-04:00      0.10          0.07        -0.29
2005-07-26 00:00:00-04:00      0.11          0.12         0.14
2005-04-26 00:00:00-04:00      0.23          0.18        -0.21
2005-02-02 00:00:00-05:00      0.40          0.35        -0.12
2004-10-21 00:00:00-04:00      0.18          0.17        -0.04
2004-07-22 00:00:00-04:00      0.19          0.18        -0.05
2004-04-22 00:00:00-04:00      0.20          0.23         0.17
2004-01-27 00:00:00-05:00      0.29          0.29         0.00
2003-10-21 00:00:00-04:00      0.10          0.11         0.13
2003-07-22 00:00:00-04:00      0.06          0.10         0.65
2003-04-24 00:00:00-04:00      0.04          0.10         1.37
2003-01-23 00:00:00-05:00      0.14          0.19         0.33
2002-10-24 00:00:00-04:00     -0.04           NaN         1.00
2002-07-23 00:00:00-04:00     -0.06         -0.01         0.82
2002-04-23 00:00:00-04:00     -0.09         -0.01         0.89
2002-01-22 00:00:00-05:00     -0.07          0.09         2.31
2001-10-23 00:00:00-04:00     -0.16         -0.16         0.00
2001-07-23 00:00:00-04:00     -0.22         -0.16         0.27
2001-04-24 00:00:00-04:00     -0.25         -0.21         0.17
2001-01-30 00:00:00-05:00     -0.26         -0.25         0.03
2000-10-24 00:00:00-04:00     -0.29         -0.25         0.13
2000-07-26 00:00:00-04:00     -0.35         -0.33         0.06
2000-04-26 00:00:00-04:00     -0.36         -0.35         0.04
2000-02-02 00:00:00-05:00     -0.49         -0.55        -0.13
1999-10-27 00:00:00-04:00     -0.28         -0.26         0.08
1999-07-21 00:00:00-04:00     -0.26         -0.25         0.00
1999-04-28 00:00:00-04:00     -0.14         -0.11         0.20
1999-01-26 00:00:00-05:00     -0.09         -0.07         0.22
1998-10-28 00:00:00-05:00     -0.10         -0.08         0.15
1998-07-22 00:00:00-04:00     -0.07         -0.07         0.01
1998-04-27 00:00:00-04:00     -0.04         -0.03         0.14
1998-01-22 00:00:00-05:00     -0.04         -0.03         0.12
1997-10-27 00:00:00-05:00     -0.03         -0.03         0.13
1997-07-10 00:00:00-04:00     -0.03         -0.02         0.13

In [ ]:
#Options expirations ()
Stock.options

('2022-11-25',
 '2022-12-02',
 '2022-12-09',
 '2022-12-16',
 '2022-12-23',
 '2022-12-30',
 '2023-01-20',
 '2023-02-17',
 '2023-03-17',
 '2023-04-21',
 '2023-06-16',
 '2023-07-21',
 '2023-09-15',
 '2023-10-20',
 '2024-01-19',
 '2024-06-21',
 '2025-01-17')

# Grafici e visualizzazione

In [ ]:
StockHist = Stock.history(period='6mo')
StockHist.head()

                           Open   High    Low   Close   Volume    Dividends  Stock Splits
Date
2022-05-19 00:00:00-04:00 106.28 110.03 106.19 107.32   88142000      0          0.00
2022-05-20 00:00:00-04:00 109.57 109.90 105.01 107.59   99500000      0          0.00
2022-05-23 00:00:00-04:00 108.46 108.82 103.95 107.56  107798000      0          0.00
2022-05-24 00:00:00-04:00 104.03 105.40 101.26 104.10  102934000      0          0.00
2022-05-25 00:00:00-04:00 103.66 108.18 103.65 106.78   93120000      0          0.00

In [ ]:
import plotly.graph_objects as go
fig = go.Figure(data=[go.Candlestick(x=StockHist.index.values,  open=StockHist['Open'],
high=StockHist['High'], low=StockHist['Low'], close=StockHist['Close'])])
fig.update_layout(autosize=False, width=1400, height=800)
fig.show()

In [ ]:
import plotly.express as px
StockHist['DT']=StockHist.index.values
fig = px.line(StockHist, x="DT", y="Open", title='Stock Prices')
fig.show()

In [ ]:
fig = go.Figure(data=go.Ohlc(x=StockHist['DT'], open=StockHist['Open'],high=StockHist['High'],low=StockHist['Low'], close=StockHist['Close']))
fig.update_layout(autosize=False, width=1400, height=900)
fig.show()

#Yahoo Financial

In [ ]:
yahoo_financials = YahooFinancials(TickerName)
data = yahoo_financials.get_historical_price_data(start_date='2010-01-01', end_date='2022-10-30', time_interval='weekly')
aapl_df = pd.DataFrame(data[TickerName]['prices'])
aapl_df = aapl_df.drop('date', axis=1).set_index('formatted_date')
aapl_df.head()

                high  low  open  close    volume    adjclose
formatted_date
2010-01-01      6.83 6.44  6.81  6.50    693216000    6.50
2010-01-08      6.68 6.29  6.53  6.37    964086000    6.37
2010-01-15      6.48 6.22  6.46  6.33    866288000    6.33
2010-01-22      6.38 5.91  6.28  6.30   1504204000    6.30
2010-01-29      6.59 5.69  6.49  5.80   2310306000    5.80

In [ ]:
DF = pd.DataFrame
y = YahooFinancials([TickerName])
DF(y.get_stock_quote_type_data()) #Converto il Dictionary in DataFrame

                                 AMZN
exchange                                NMS
exchangeTimezoneName       America/New_York
exchangeTimezoneShortName               EST
gmtOffSetMilliseconds             -18000000
isEsgPopulated                        False
longName                   Amazon.com, Inc.
market                            us_market
messageBoardId                  finmb_18749
quoteType                            EQUITY
shortName                  Amazon.com, Inc.
symbol                                 AMZN

In [ ]:
DF(y.get_summary_data())

                                  AMZN
algorithm                             None
ask                                     94
askSize                               1000
averageDailyVolume10Day           99567450
averageVolume                     71678148
averageVolume10days               99567450
beta                                  1.23
bid                                  93.97
bidSize                                800
circulatingSupply                     None
coinMarketCapLink                     None
currency                               USD
dayHigh                              95.97
dayLow                               92.48
dividendRate                          None
dividendYield                         None
exDividendDate                           -
expireDate                               -
fiftyDayAverage                     110.68
fiftyTwoWeekHigh                    185.67
fiftyTwoWeekLow                      85.87
fiveYearAvgDividendYield              None
forwardPE                            56.04
fromCurrency                          None
lastMarket                            None
marketCap                     960388071424
maxAge                                   1
maxSupply                             None
navPrice                              None
open                                 95.95
openInterest                          None
payoutRatio                              0
previousClose                        94.85
priceHint                                2
priceToSalesTrailing12Months          1.91
regularMarketDayHigh                 95.97
regularMarketDayLow                  92.48
regularMarketOpen                    95.95
regularMarketPreviousClose           94.85
regularMarketVolume               72428185
startDate                                -
strikePrice                           None
toCurrency                            None
totalAssets                           None
tradeable                            False
trailingAnnualDividendRate               0
trailingAnnualDividendYield              0
trailingPE                           86.37
twoHundredDayAverage                127.99
volume                            72428185
volume24Hr                            None
volumeAllCurrencies                   None
yield                                 None
ytdReturn                             None

In [ ]:
DF(y.get_stock_earnings_data() )

                                         AMZN
earningsData       {'quarterly': [{'date': '4Q2021', 'actual': 1....
financialCurrency                                                USD
financialsData     {'yearly': [{'date': 2018, 'revenue': 23288700...

In [ ]:
#otteniamo la lista completa dei metodi dell'oggetto y
method_list = [method for method in dir(y) if method.startswith('__') is False]
method_list

['YAHOO_FINANCIAL_TYPES',
 '_BASE_YAHOO_URL',
 '_INTERVAL_DICT',
 '_MIN_INTERVAL',
 '_build_api_url',
 '_build_historical_url',
 '_cache',
 '_clean_api_data',
 '_clean_earnings_data',
 '_clean_historical_data',
 '_clean_reports',
 '_convert_to_utc',
 '_create_dict_ent',
 '_determine_numeric_value',
 '_encode_ticker',
 '_financial_statement_data',
 '_format_time',
 '_get_api_data',
 '_get_cleaned_sub_dict_ent',
 '_get_stmt_id',
 '_get_sub_dict_ent',
 '_handle_api_dividend_request',
 '_recursive_api_request',
 '_reformat_stmt_data_process',
 '_run_financial_stmt',
 '_scrape_data',
 '_stock_price_data',
 '_stock_summary_data',
 'format_date',
 'get_200day_moving_avg',
 'get_50day_moving_avg',
 'get_annual_avg_div_rate',
 'get_annual_avg_div_yield',
 'get_beta',
 'get_book_value',
 'get_clean_data',
 'get_cost_of_revenue',
 'get_currency',
 'get_current_change',
 'get_current_percent_change',
 'get_current_price',
 'get_current_volume',
 'get_daily_dividend_data',
 'get_daily_high',
 'get_daily_low',
 'get_dividend_rate',
 'get_dividend_yield',
 'get_earnings_per_share',
 'get_ebit',
 'get_exdividend_date',
 'get_financial_stmts',
 'get_five_yr_avg_div_yield',
 'get_gross_profit',
 'get_historical_price_data',
 'get_income_before_tax',
 'get_income_tax_expense',
 'get_interest_expense',
 'get_key_statistics_data',
 'get_market_cap',
 'get_net_income',
 'get_net_income_from_continuing_ops',
 'get_num_shares_outstanding',
 'get_open_price',
 'get_operating_income',
 'get_payout_ratio',
 'get_pe_ratio',
 'get_prev_close_price',
 'get_price_to_sales',
 'get_reformatted_stmt_data',
 'get_report_type',
 'get_research_and_development',
 'get_stock_data',
 'get_stock_dividend_data',
 'get_stock_earnings_data',
 'get_stock_exchange',
 'get_stock_price_data',
 'get_stock_quote_type_data',
 'get_stock_summary_url',
 'get_stock_tech_data',
 'get_summary_data',
 'get_ten_day_avg_daily_volume',
 'get_three_month_avg_daily_volume',
 'get_time_code',
 'get_total_operating_expense',
 'get_total_revenue',
 'get_yearly_high',
 'get_yearly_low',
 'ticker']

In [ ]:
#Download del tasso di cambio Euro Dollaro
FX = 'EURUSD=X'
yahoo_financials = YahooFinancials(FX)
data=yahoo_financials.get_historical_price_data("2021-07-10", "2022-05-30", "monthly")
btc_df = pd.DataFrame(data[FX]['prices'])
btc_df = btc_df.drop('date', axis=1).set_index('formatted_date')
btc_df.head()

                high  low  open  close  volume  adjclose
formatted_date
2021-07-31      1.19 1.17  1.19  1.18      0      1.18
2021-08-31      1.19 1.16  1.18  1.16      0      1.16
2021-09-30      1.17 1.15  1.16  1.16      0      1.16
2021-11-01      1.16 1.12  1.16  1.13      0      1.13
2021-12-01      1.14 1.12  1.13  1.13      0      1.13